<div class="grid-container">
  <div class="item1">My name is ...</div>
  <div class="item2">Bootstrap</div>
  <div class="item3">Grid/Flexbox</div>  
  <div class="item4">Html/Css</div>
  <div class="item5">Angular</div>
  <div class="item6">HTTP/REST</div>
  <div class="item7">Git</div>
  <div class="item8">Java/Spring</div>  
  <div class="item9">OOP</div>
  <div class="item10">Javascript</div>
  <div class="item11">Vue</div>
  <div class="item12">Php/Laravel</div>
  <div class="item13">MySql</div>
  <div class="item14">Responsive Design</div>
  <div class="item15">Joseph</div>
</div>