<div class="container">
	<div class="item-1">
		<h1>Contact:</h1>
	</div>

	<div class="item-8" placement="right" ngbTooltip="(312) 678-7984">
		<a href="#" class="fa fa-phone"></a>
	</div>
	<div class="item-2">
		<a href="https://www.linkedin.com/in/joseph-leon-bb866210b/" class="fa fa-linkedin"></a>
	</div>
	<div class="item-3">
		<a href="https://github.com/JosephLeon13" class="fa fa-github"></a></div>
	<div class="item-7">
		<a href="https://mail.google.com/mail/?view=cm&fs=1&to=joseph.leon@loop.colum.edu" class="fa fa-envelope"></a>
	</div>
	
	
</div>
