<div class="container">
  <h2><a routerLink="/about">WHO AM I?</a></h2>
</div>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>01001010</h3>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
   <div class="caption">
      <h3>01101111</h3>
   </div> 
  </ng-template>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>011110011</h3>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>01100101</h3>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>01110000</h3>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>01101000</h3>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>01001100</h3>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>01100101</h3>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>01101111</h3>
    </div> 
  </ng-template>
  <ng-template ngbSlide>
    <div class="caption">
      <h3>01101110</h3>
    </div> 
  </ng-template>
</ngb-carousel>

